@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


.position-items{
  display: flex;
  justify-content: flex-end;
  background: #E1E1E1 !important;
}
.nav-items{
  display: flex;
  padding: 2%;
}
.logo-img{
  max-width: 20%;
  width: 6%;
} 

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color:#F99E1F !important ;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after{
  border-bottom: 2px solid #F99E1F !important;
}

.ant-menu-horizontal{
  border-bottom: 0px #fff !important;
}
.header{

  padding-top: 2%;
}
.title{
  text-align: center;
  font-size: 88px !important;
  font-family: 'Poppins';
  font-weight: bold !important;
  line-height: 1;

}
.color-title{
  color: #EC1577;
}
.shifti-icon{
  max-width: 80%;
  width: 45%;
  position: relative;
  left: 79%;
  bottom: 276px;
  z-index: -1;
}
.button-header{
  text-align: center;

}
.button{
  background-color: #F99E1F;
  color: white;
  
}

@media only screen and (min-width: 748px){
  .menu{
    padding-left: 25%  !important;
  }
}